.lucid_font {
  font-family: "Lucida Bright", sans-serif;
}
.brush_font {
  font-family: "Brush Script", cursive;
}
.mon_font {
  font-family: "Monaco", monospace;
}
.opt_font {
  font-family: "Optima", sans-serif;
}
.img_div {
  height: 400px;
  margin: auto 15% auto auto;
  width: 30%;
}
.curved_div {
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 70%;
  height: 700px;
  background-color: rgb(255, 238, 238);
}
.text_grey {
  color: rgba(43, 31, 31, 0.459);
}
.about_info_div {
  background-color: white;
  height: 55%;
  width: 30%;
  border-radius: 30px;
  box-shadow: 2px 2px 30px rgba(43, 1, 1, 0.151);
}

@media (min-width: 1580px) {
  .img_div {
    height: 400px;
    margin: auto 15% auto auto;
    width: 30%;
  }
  .curved_div {
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 70%;
    height: 900px;
    background-color: rgb(255, 238, 238);
  }
  .text_grey {
    color: rgba(43, 31, 31, 0.459);
  }
  .about_info_div {
    background-color: white;
    height: 65%;
    width: 32%;
    border-radius: 30px;
    box-shadow: 2px 2px 30px rgba(43, 1, 1, 0.151);
  }
}

@media (max-width: 640px) {
  .curved_div {
    border-bottom-right-radius: 4%;
    border-bottom-left-radius: 4%;
    height: 1300px;
    background-color: rgb(255, 238, 238);
  }
  .hide {
    visibility: hidden;
  } 
  .about_info_div {
    background-color: white;
    height: 30%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 2px 2px 30px rgba(43, 1, 1, 0.151);
    margin: auto;
  }
}
