.services_div {
  height: 350px;
  width: 90%;
}
.svc-holder {
  width: 80vw;
  height: 100vh;
  margin: auto;
}


.text-center-services {
  text-align: center;
}




@media (max-width: 640px) {
  .text-center-services {
    text-align: justify;
  } 
  .svc-holder {
    width: 80vw;
    height: fit-content;
    margin: auto;
  }

  .services_div {
    height: 1050px;
    width: 90%;
    
  }
}
