/* body {
  background-image: linear-gradient(rgb(44, 2, 2), red, red, rgb(44, 2, 2));
  background-repeat: no-repeat;
  background-size: cover;
} */
.cont {
  background-image: linear-gradient(rgb(44, 2, 2), red, red, rgb(44, 2, 2));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; 
  scrollbar-width: thin; /* For Chrome and Safari */
  scrollbar-color: transparent transparent;
}

.cont::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


